@import "tailwindcss";
@import "tw-animate-css";

:root {
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--violet-500: #8b5cf6;
	--violet-600: #7c3aed;
}

body {
	background: #13161a !important;
	color: var(--slate-200) !important;
}

.link-hover:hover {
	color: #13161a !important;
}

.btn-settings {
	border: 2px solid var(--violet-600) !important;
	color: var(--violet-600) !important;
}

.btn-settings:hover {
	border: 2px groove var(--violet-600) !important;
	color: var(--violet-500) !important;
}

.bg-card-bg {
	background: #0c0f15 !important;
	color: var(--slate-200) !important;
}

.border {
	border: 2px solid #31323599 !important;
	border-radius: 5px !important;
}

.border-b {
	border-bottom: 2px solid #31323599 !important;
}

textarea,
input,
.comment-text,
.custom-select,
select {
	background: #13161a !important;
}

SelectPrimitive.Item:hover {
	background: var(--violet-600/30) !important;
}

input {
	height: 42px !important;
	font-size: 18px !important;
}

input::placeholder {
	font-size: 18px !important;
}

.profile-picture {
	position: relative !important;
}

.svg-color {
	color: var(--violet-600) !important;
}